{
	email {env.ACME_EMAIL}
}

(porkbun_tls) {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_API_SECRET_KEY}
		}
		resolvers curitiba.ns.porkbun.com fortaleza.ns.porkbun.com maceio.ns.porkbun.com salvador.ns.porkbun.com
	}
}

trly.dev {
	redir "https://github.com/trly"
	import porkbun_tls
}

drop.trly.dev {
	reverse_proxy pairdrop-app:3000
	import porkbun_tls
}

